@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pangolin&family=Permanent+Marker&family=Play:wght@700&display=swap');
*{
	margin: 0;
	padding: 5px;;
	box-sizing: border-box;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    background-color: lightyellow;
    text-decoration: none;
    color: currentColor;
    font-size: 30px;
    
}

#canvas {
    border: 3px solid black;
}

